.hero__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #303030;
  min-height: 38px;
  min-width: 96px;
}
