.search__toggle-switch {
  display: inline-block;
  background: #343434;
  border-radius: 20px;
  width: 34px;
  height: 14px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  align-self: center;
}

.search__toggle-switch:before, .search__toggle-switch:after {
  content: "";
}

.search__toggle-switch:before {
  display: block;
  background: #A0A0A0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  right: 22px;
  transition: 0.25s;
}

.search__toggle:hover .search__toggle-switch:before {
  background: #A0A0A0;
}

.search__toggle-checkbox:checked + .search__toggle-switch {
  background: #2BE080;
}

.search__toggle-checkbox:checked + .search__toggle-switch:before {
  top: 2px;
  right: 2px;
  background: #fff;
}

