.auth-form__buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 70px;
  align-items: center;
}

@media screen and (max-width: 990px) {
  .auth-form__buttons-container {
    margin-bottom: 232px;
  }
}

@media screen and (max-width: 690px) {
  .auth-form__buttons-container {
    margin-bottom: 30px;
  }
}
