.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 690px) {
  .footer__container {
    margin-top: 30px;
    flex-direction: column-reverse;
    align-items: center;
    gap: 27px;
  }
}
