.movie-card__photo {
  align-self: center;
  height: 201px;
  width: 100%;

  display: block;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .movie-card__photo {
    height: 190px;
  }
}

@media screen and (max-width: 690px) {
  .movie-card__photo {
    height: 168px;
  }
}
