.movie-card__photo {
  align-self: center;
  max-width: 360px;
  max-height: 201px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 990px) {
  .movie-card__photo {
    max-width: 339px;
    max-height: 190px;
  }
}

@media screen and (max-width: 690px) {
  .movie-card__photo {
    min-width: 300px;
    min-height: 168px;
  }
}
