.profile__fields {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0 0 218px;
}

@media screen and (max-width: 990px) {
  .profile__fields {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 690px) {
  .profile__fields {
    gap: 15px;
  }
}
