.movie-card__description {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  align-self: baseline;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}

@media screen and (max-width: 690px) {
  .movie-card__description {
    font-size: 12px;
    line-height: 15px;
  }
}
