.about__week-count {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}

@media screen and (max-width: 690px) {
  .about__week-count {
    font-size: 11px;
    line-height: 13px;
  }
}
