.about__grid-container_weeks {
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 36px;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 690px) {
  .about__grid-container_weeks {
    grid-template-columns: 35% 65%;
    margin-bottom: 70px;
  }
}
