.not-found__title {
  font-size: 140px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  margin: 268px 0 8px;
}

@media screen and (max-width: 690px) {
  .not-found__title {
    font-size: 80px;
    line-height: 97px;
    margin-top: 329px;
    margin-bottom: 10px;
  }
}
