.portfolio {
  margin: 100px 70px 204px;
}

@media screen and (max-width: 990px) {
  .portfolio {
    margin: 91px 50px 170px;
  }
}

@media screen and (max-width: 690px) {
  .portfolio {
    margin: 70px 14px 150px;
  }
}
