.profile__button {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  border: none;
  background-color: transparent;
}


@media screen and (max-width: 690px) {
  .profile__button {
    font-size: 12px;
    line-height: 15px;
  }
}

