.about-me__subtitle {
  margin: 20px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}
@media screen and (max-width: 990px) {
  .about-me__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
