.not-found__back-button {
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
  color: #4285F4;
  background-color: transparent;
  margin-top: 184px;
  margin-bottom: 62px;
  cursor: pointer;
}

@media screen and (max-width: 690px) {
  .not-found__back-button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 284px;
    margin-bottom: 30px;
  }
}

.not-found__back-button:hover {
  opacity: 70%;
}
