.profile__field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.profile__field:not(:last-child) {
  border-bottom: 1px solid #424242;
  padding-bottom: 15px;
}

