.tech__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fff;
  max-width: 460px;
  display: flex;
  margin: 0 auto 100px;
}
