.movie-card {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.movie-card:hover .movie-card__del-button {
  visibility: visible;
}
.movie-card:hover .movie-card__save-button_state_not-saved {
  visibility: visible;
}
