.about-me__description {
  margin: 26px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  max-width: 600px;
}
@media screen and (max-width: 990px) {
  .about-me__description {
    font-size: 12px;
    line-height: 18px;
  }
}
@media screen and (max-width: 690px) {
  .about-me__description {
    font-size: 11px;
    line-height: 16px;
    margin-top: 20px;
  }
}
