.about__grid-container_description {
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 26px;
  margin-top: 70px;
  margin-bottom: 110px;
}

@media screen and (max-width: 990px) {
  .about__grid-container_description {
    margin-bottom: 93px;
    column-gap: 30px;
    row-gap: 22px;
  }
}

@media screen and (max-width: 690px) {
  .about__grid-container_description {
    grid-template-columns: 1fr;
    margin-top: 60px;
    margin-bottom: 60px;
    row-gap: 56px;
  }
}
