.auth-form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 396px;
  width: 100%;
  margin: 70px auto;
}

@media screen and (max-width: 990px) {
  .auth-form {
    margin-top: 232px;
    margin-bottom: 232px;
  }
}
