.about-me__link {
  text-decoration: none;
  color: #fff;
  margin-top: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}
@media screen and (max-width: 990px) {
  .about-me__link {
    margin-top: 40px;
  }
}
